// @use "vuetify/lib/styles/tools";

// .v-tooltip {
//   z-index: 2147483647 !important; // Highest z-index for tooltips
//   .v-overlay__content {
//     @include tools.elevation(4);
//     border: thin solid rgb(0 0 0 / 10%) !important;
//     max-width: 400px !important;
//     border-radius: 8px !important;
//     box-shadow: 0 1px 1px -1px rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 10%),
//       0 1px 1px 0 rgb(0 0 0 / 10%) !important;
//   }
// }
